<h1>People</h1>

<% if @persons.any? %>
  
  <% @persons.each do |person| %>
    <div>
      <%= link_to person.info, person_path(person) %>
    </div>
  <% end %>

<% else %>
  <h3>No People Found, Please Enter One!</h3>
<% end %>

<hr />
<%= link_to 'New Person', new_person_path %>
